In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from FinancialDataAPI import FinancialDataAPI

from datetime import date, datetime, timedelta

In [34]:
api = FinancialDataAPI()

In [35]:
api.list_data_sets()

['industries',
 'balance-annual',
 'balance-quarterly',
 'balance-ttm',
 'cashflow-annual',
 'cashflow-quarterly',
 'cashflow-ttm',
 'companies',
 'income-annual',
 'income-quarterly',
 'income-ttm',
 'shareprices-daily']

In [36]:
api.get_data_set('companies').head()

    Ticker  SimFinId         Company Name  IndustryId
0     GOOG        18    Alphabet (Google)    101002.0
1  FOX_old       242     21st Century Fox    103001.0
2     ATVI       243  Activision Blizzard    101003.0
3      BLK       914      BlackRock, Inc.    104001.0
4     ADBE     14099        Adobe Systems    101003.0

In [37]:
api.get_classification(level='Sector')

['Industrials',
 'Technology',
 'Consumer Defensive',
 'Consumer Cyclical',
 'Financial Services',
 'Utilities',
 'Healthcare',
 'Energy',
 'Business Services',
 'Real Estate',
 'Basic Materials',
 'Other']

In [38]:
api.get_ticker_by_classification(['Technology'])[:10]

['GOOG', 'ATVI', 'ADBE', 'TWTR', 'AMSC', 'VRTU', 'APIC', 'ENS', 'EGHT', 'GWRE']

In [39]:
len(api.get_ticker_by_classification(['Technology']))

402

In [40]:
len(api.get_ticker_by_classification(['Technology'], as_of_date=date(2015,12,31)))

349

In [41]:
api.list_fields()

                             Long Name          Short Name          Category
0                         Company Name                Name  description_data
1                               Sector              Sector  description_data
2                             Industry            Industry  description_data
3                                 Open                Open      pricing_data
4                                  Low                 Low      pricing_data
..                                 ...                 ...               ...
61                      Dividends Paid       Dividend Paid  fundamental_data
62       Cash from (Repayment of) Debt      Cash from Debt  fundamental_data
63    Cash from (Repurchase of) Equity    Cash from Equity  fundamental_data
64  Net Cash from Financing Activities  Net Cash Financing  fundamental_data
65                  Net Change in Cash    Net Cash in Cash  fundamental_data

[66 rows x 3 columns]

In [42]:
api.display_field_info('Dividends Paid')

Dividends Paid (Dividend Paid)
  Parameters: pt, offset_start, offset_end, y_start, y_end, q_start, q_end, as_of_date
  pt: str [q/a/ttm],  offset: int, y: int, q: int [1/2/3/4], as_of_date: Date

In [43]:
api.get_data(['IBM'], 'Sector')

            Sector
Ticker
IBM     Technology

In [44]:
api.get_data(['IBM'], 'Close', Start=date(2010, 12, 31) - timedelta(days=30), End=date(2010, 12, 31), Adj='y')

             Date   Close
Ticker
IBM    2010-12-01  107.04
IBM    2010-12-02  107.61
IBM    2010-12-03  107.76
IBM    2010-12-06  107.47
IBM    2010-12-07  106.75
IBM    2010-12-08  107.46
IBM    2010-12-09  106.96
IBM    2010-12-10  107.35
IBM    2010-12-13  106.95
IBM    2010-12-14  108.09
IBM    2010-12-15  107.27
IBM    2010-12-16  107.15
IBM    2010-12-17  107.48
IBM    2010-12-20  107.12
IBM    2010-12-21  108.03
IBM    2010-12-22  108.18
IBM    2010-12-23  108.14
IBM    2010-12-27  107.73
IBM    2010-12-28  108.01
IBM    2010-12-29  108.61
IBM    2010-12-30  108.72
IBM    2010-12-31  108.78

In [45]:
api.get_data(['IBM'], 'Dividend', Start=date(2010, 12, 31) - timedelta(days=300), End=date(2010, 12, 31)).dropna()

             Date  Dividend
Ticker
IBM    2010-05-06      0.65
IBM    2010-08-06      0.65
IBM    2010-11-08      0.65

In [46]:
api.get_data(['IBM'], 'Net Income', pt='ttm', offset_start=-3, offset_end=0, as_of_date=date(2020, 12, 31))

,Currency,Fiscal Year,Fiscal Period,Report Date,Publish Date,Restated Date,Net Income
Ticker,,,,,,,
IBM,USD,2019,Q1,2019-03-31,2019-04-30,2019-04-30,8640000000
IBM,USD,2019,Q2,2019-06-30,2019-07-30,2019-07-30,8735000000
IBM,USD,2019,Q3,2019-09-30,2019-10-29,2019-10-29,7714000000
IBM,USD,2019,Q4,2019-12-31,2020-02-25,2020-02-25,9432000000

In [47]:
api.get_data(['IBM'], 'Net Income', pt='q', y_start=2013, y_end=2015, q_start=3, q_end=4, as_of_date=date(2020, 12, 31))

,Currency,Fiscal Year,Fiscal Period,Report Date,Publish Date,Restated Date,Net Income
Ticker,,,,,,,
IBM,USD,2013,Q3,2013-09-30,2013-10-29,2014-10-28,4041000000
IBM,USD,2013,Q4,2013-12-31,2014-02-25,2016-02-23,6184000000
IBM,USD,2014,Q3,2014-09-30,2014-10-28,2015-10-27,18000000
IBM,USD,2014,Q4,2014-12-31,2015-02-24,2017-02-28,5487000000
IBM,USD,2015,Q3,2015-09-30,2015-10-27,2016-10-25,2951000000
IBM,USD,2015,Q4,2015-12-31,2016-02-23,2017-02-28,4462000000

In [48]:
api.get_data(['IBM'], 'Net Income', pt='a', y_start=2013, y_end=2015, as_of_date=date(2020, 12, 31))

,Currency,Fiscal Year,Fiscal Period,Report Date,Publish Date,Restated Date,Net Income
Ticker,,,,,,,
IBM,USD,2013,FY,2013-12-31,2014-02-25,2016-02-23,16483000000
IBM,USD,2014,FY,2014-12-31,2015-02-24,2017-02-28,12023000000
IBM,USD,2015,FY,2015-12-31,2016-02-23,2017-02-28,13191000000

In [33]:
# api.reload_data_sets_and_meta()