In [3]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [4]:
from FinancialDataAPI import FinancialDataAPI
from datetime import date, datetime, timedelta
import pandas as pd

In [5]:
api = FinancialDataAPI()

In [6]:
api.list_data_sets()

['industries',
 'balance-annual',
 'balance-quarterly',
 'balance-ttm',
 'cashflow-annual',
 'cashflow-quarterly',
 'cashflow-ttm',
 'companies',
 'income-annual',
 'income-quarterly',
 'income-ttm',
 'shareprices-daily']

In [5]:
api.get_data_set('companies').head()

       Ticker  SimFinId                      Company Name  IndustryId
0           A     45846          AGILENT TECHNOLOGIES INC    106001.0
1          AA    367153                        Alcoa Corp    110004.0
2  AAC_delist    939324                AAC Holdings, Inc.    106011.0
3         AAL     68568      American Airlines Group Inc.    100006.0
4        AAMC    847094  Altisource Asset Management Corp    104001.0

In [6]:
api.get_classification(level='Sector')

['Industrials',
 'Technology',
 'Consumer Defensive',
 'Consumer Cyclical',
 'Financial Services',
 'Utilities',
 'Healthcare',
 'Energy',
 'Business Services',
 'Real Estate',
 'Basic Materials',
 'Other']

In [4]:
energy_tickers = api.get_ticker_by_classification(
    ['Energy'], as_of_date=date(2018, 12, 31)
)

print(energy_tickers)

['NGL', 'APC', 'KMI', 'EOG', 'CLR', 'RRC', 'DRQ', 'WFT', 'XOM', 'DVN', 'NFX', 'FET']

In [41]:
len(api.get_ticker_by_classification(['Technology']))

102

In [42]:
len(api.get_ticker_by_classification(['Technology'], as_of_date=date(2015,12,31)))

96

In [43]:
api.list_fields()

,Long Name,Short Name,Category,Quick Document
0,Company Name,Name,description_data,
1,Sector,Sector,description_data,
2,Industry,Industry,description_data,
3,Open,Open,pricing_data,"start: Date, end: Date, adj: Str [y/n], fill_p..."
4,Low,Low,pricing_data,"start: Date, end: Date, adj: Str [y/n], fill_p..."
...,...,...,...,...
61,Dividends Paid,Dividend Paid,fundamental_data,"pt: str [q/a/ttm], offset: int, y: int, q: in..."
62,Cash from (Repayment of) Debt,Cash from Debt,fundamental_data,"pt: str [q/a/ttm], offset: int, y: int, q: in..."
63,Cash from (Repurchase of) Equity,Cash from Equity,fundamental_data,"pt: str [q/a/ttm], offset: int, y: int, q: in..."
64,Net Cash from Financing Activities,Net Cash Financing,fundamental_data,"pt: str [q/a/ttm], offset: int, y: int, q: in..."
65,Net Change in Cash,Net Cash in Cash,fundamental_data,"pt: str [q/a/ttm], offset: int, y: int, q: in..."

In [16]:
api.list_data_category()

['description_data', 'pricing_data', 'market_data', 'fundamental_data']

In [18]:
api.list_fields_by_category(['pricing_data', 'market_data'])

,Long Name,Short Name,Category,Quick Document
3,Open,Open,pricing_data,"start: Date, end: Date, adj: Str [y/n], fill_p..."
4,Low,Low,pricing_data,"start: Date, end: Date, adj: Str [y/n], fill_p..."
5,High,High,pricing_data,"start: Date, end: Date, adj: Str [y/n], fill_p..."
6,Close,Close,pricing_data,"start: Date, end: Date, adj: Str [y/n], fill_p..."
7,Dividend,Dividend,market_data,"start: Date, end: Date, fill_prev: Str [y/n]"
8,Volume,Volume,market_data,"start: Date, end: Date, fill_prev: Str [y/n]"
9,Shares Outstanding,Sh Out,market_data,"start: Date, end: Date, fill_prev: Str [y/n]"

In [15]:
api.display_field_info('Share')

Shares Outstanding (Sh Out)
  Parameters: start, end
  start: Date, end: Date, fill_prev: Str [y/n]


Shares (Basic) (Sh Basic)
  Parameters: pt, offset_start, offset_end, y_start, y_end, q_start, q_end, as_of_date_start, as_of_date_end
  pt: str [q/a/ttm],  offset: int, y: int, q: int [1/2/3/4], as_of_date_start: Date, as_of_date_end: Date


Shares (Diluted) (Sh Diluted)
  Parameters: pt, offset_start, offset_end, y_start, y_end, q_start, q_end, as_of_date_start, as_of_date_end
  pt: str [q/a/ttm],  offset: int, y: int, q: int [1/2/3/4], as_of_date_start: Date, as_of_date_end: Date


Share Capital & Additional Paid-In Capital (Sh Capital)
  Parameters: pt, offset_start, offset_end, y_start, y_end, q_start, q_end, as_of_date_start, as_of_date_end
  pt: str [q/a/ttm],  offset: int, y: int, q: int [1/2/3/4], as_of_date_start: Date, as_of_date_end: Date

In [45]:
api.get_data(['IBM'], 'Sector')

            Sector
Ticker
IBM     Technology

In [46]:
api.get_data(
    ['IBM', 'MSFT'], 'Close', 
    start=date(2010, 12, 31) - timedelta(days=30), end=date(2010, 12, 31), 
    Adj='y'
)

             Date   Close
Ticker
IBM    2010-12-01  101.67
IBM    2010-12-02  102.22
IBM    2010-12-03  102.36
IBM    2010-12-04     NaN
IBM    2010-12-05     NaN
...           ...     ...
MSFT   2010-12-27   22.22
MSFT   2010-12-28   22.17
MSFT   2010-12-29   22.14
MSFT   2010-12-30   22.04
MSFT   2010-12-31   22.09

[62 rows x 2 columns]

In [47]:
api.get_data(
    ['IBM', 'MSFT'], 'Dividend', 
    start=date(2010, 12, 31) - timedelta(days=300), end=date(2010, 12, 31)
).dropna()

             Date  Dividend
Ticker
IBM    2010-05-06      0.65
IBM    2010-08-06      0.65
IBM    2010-11-08      0.65
MSFT   2010-05-18      0.13
MSFT   2010-08-17      0.13
MSFT   2010-11-16      0.16

In [54]:
api.get_data(
    ['MSFT', 'IBM'], 'Net Income', pt='ttm', 
    offset_start=-3, offset_end=0, 
    as_of_date_start=date(2020, 12, 31), as_of_date_end=date(2020, 12, 31)
)

,Currency,Fiscal Year,Fiscal Period,Report Date,Publish Date,Restated Date,As of Date,Net Income
Ticker,,,,,,,,
MSFT,USD,2020,Q1,2019-09-30,2019-10-23,2019-10-23,2020-12-31,41094000000
MSFT,USD,2020,Q2,2019-12-31,2020-01-29,2021-01-26,2020-12-31,44323000000
MSFT,USD,2020,Q3,2020-03-31,2020-04-29,2021-04-27,2020-12-31,46266000000
MSFT,USD,2020,Q4,2020-06-30,2020-07-30,2020-07-30,2020-12-31,44281000000
IBM,USD,2019,Q3,2019-09-30,2019-10-29,2019-10-29,2020-12-31,7715000000
IBM,USD,2019,Q4,2019-12-31,2020-02-25,2020-02-25,2020-12-31,9433000000
IBM,USD,2020,Q1,2020-03-31,2020-04-28,2021-04-27,2020-12-31,9016000000
IBM,USD,2020,Q2,2020-06-30,2020-07-28,2020-07-28,2020-12-31,7879000000

In [49]:
api.get_data(
    ['MSFT', 'IBM'], 'Net Income', pt='ttm', 
    offset_start=-3, offset_end=0, 
    as_of_date_start=date(2019, 12, 31), as_of_date_end=date(2020, 12, 31)
)

,Currency,Fiscal Year,Fiscal Period,Report Date,Publish Date,Restated Date,As of Date,Net Income
Ticker,,,,,,,,
MSFT,USD,2019,Q2,2018-12-31,2019-01-30,2020-01-29,2019-12-31,33541000000
MSFT,USD,2019,Q3,2019-03-31,2019-04-24,2020-04-29,2019-12-31,34926000000
MSFT,USD,2019,Q4,2019-06-30,2019-08-01,2020-07-30,2019-12-31,39240000000
MSFT,USD,2020,Q1,2019-09-30,2019-10-23,2019-10-23,2019-12-31,41094000000
MSFT,USD,2019,Q2,2018-12-31,2019-01-30,2020-01-29,2020-01-01,33541000000
...,...,...,...,...,...,...,...,...
IBM,USD,2020,Q2,2020-06-30,2020-07-28,2020-07-28,2020-12-30,7879000000
IBM,USD,2019,Q3,2019-09-30,2019-10-29,2019-10-29,2020-12-31,7715000000
IBM,USD,2019,Q4,2019-12-31,2020-02-25,2020-02-25,2020-12-31,9433000000
IBM,USD,2020,Q1,2020-03-31,2020-04-28,2021-04-27,2020-12-31,9016000000
IBM,USD,2020,Q2,2020-06-30,2020-07-28,2020-07-28,2020-12-31,7879000000

In [50]:
api.get_data(
    ['MSFT', 'IBM'], 'Net Income', pt='ttm', 
    offset_start=0, offset_end=0, 
    as_of_date_start=date(2019, 12, 31), as_of_date_end=date(2020, 12, 31)
)

,Currency,Fiscal Year,Fiscal Period,Report Date,Publish Date,Restated Date,As of Date,Net Income
Ticker,,,,,,,,
MSFT,USD,2020,Q1,2019-09-30,2019-10-23,2019-10-23,2019-12-31,41094000000
MSFT,USD,2020,Q1,2019-09-30,2019-10-23,2019-10-23,2020-01-01,41094000000
MSFT,USD,2020,Q1,2019-09-30,2019-10-23,2019-10-23,2020-01-02,41094000000
MSFT,USD,2020,Q1,2019-09-30,2019-10-23,2019-10-23,2020-01-03,41094000000
MSFT,USD,2020,Q1,2019-09-30,2019-10-23,2019-10-23,2020-01-04,41094000000
...,...,...,...,...,...,...,...,...
IBM,USD,2020,Q2,2020-06-30,2020-07-28,2020-07-28,2020-12-27,7879000000
IBM,USD,2020,Q2,2020-06-30,2020-07-28,2020-07-28,2020-12-28,7879000000
IBM,USD,2020,Q2,2020-06-30,2020-07-28,2020-07-28,2020-12-29,7879000000
IBM,USD,2020,Q2,2020-06-30,2020-07-28,2020-07-28,2020-12-30,7879000000
IBM,USD,2020,Q2,2020-06-30,2020-07-28,2020-07-28,2020-12-31,7879000000

In [51]:
api.get_data(
    ['MSFT', 'IBM'], 'Net Income', pt='q', 
    y_start=2013, y_end=2015, q_start=3, q_end=4, 
    as_of_date_start=date(2020, 12, 31), as_of_date_end=date(2020, 12, 31)
)

,index,Currency,Fiscal Year,Fiscal Period,Report Date,Publish Date,Restated Date,As of Date,Net Income
Ticker,,,,,,,,,
MSFT,41920,USD,2013,Q3,2013-03-31,2013-04-18,2014-04-24,2020-12-31,6055000000
MSFT,41921,USD,2013,Q4,2013-06-30,2013-07-30,2015-07-31,2020-12-31,4965000000
MSFT,41924,USD,2014,Q3,2014-03-31,2014-04-24,2015-04-23,2020-12-31,5660000000
MSFT,41925,USD,2014,Q4,2014-06-30,2014-07-31,2016-07-28,2020-12-31,4612000000
MSFT,41928,USD,2015,Q3,2015-03-31,2015-04-23,2016-04-21,2020-12-31,4985000000
MSFT,41929,USD,2015,Q4,2015-06-30,2015-07-31,2017-08-02,2020-12-31,-3195000000
IBM,30728,USD,2013,Q3,2013-09-30,2013-10-29,2014-10-28,2020-12-31,4041000000
IBM,30729,USD,2013,Q4,2013-12-31,2014-02-25,2016-02-23,2020-12-31,6184000000
IBM,30732,USD,2014,Q3,2014-09-30,2014-10-28,2015-10-27,2020-12-31,18000000
IBM,30733,USD,2014,Q4,2014-12-31,2015-02-24,2017-02-28,2020-12-31,5487000000
IBM,30736,USD,2015,Q3,2015-09-30,2015-10-27,2016-10-25,2020-12-31,2951000000
IBM,30737,USD,2015,Q4,2015-12-31,2016-02-23,2017-02-28,2020-12-31,4462000000

In [52]:
api.get_data(
    ['MSFT', 'IBM'], 'Net Income', pt='a', 
    y_start=2013, y_end=2015, 
    as_of_date_start=date(2020, 12, 31), as_of_date_end=date(2020, 12, 31)
)

,index,Currency,Fiscal Year,Fiscal Period,Report Date,Publish Date,Restated Date,As of Date,Net Income
Ticker,,,,,,,,,
MSFT,12138,USD,2013,FY,2013-06-30,2013-07-30,2015-07-31,2020-12-31,21863000000
MSFT,12139,USD,2014,FY,2014-06-30,2014-07-31,2016-07-28,2020-12-31,22074000000
MSFT,12140,USD,2015,FY,2015-06-30,2015-07-31,2017-08-02,2020-12-31,12193000000
IBM,8894,USD,2013,FY,2013-12-31,2014-02-25,2016-02-23,2020-12-31,16483000000
IBM,8895,USD,2014,FY,2014-12-31,2015-02-24,2017-02-28,2020-12-31,12023000000
IBM,8896,USD,2015,FY,2015-12-31,2016-02-23,2017-02-28,2020-12-31,13191000000

In [7]:
start = date(2017, 12, 31)
end = date(2018, 12, 31)

df_net_income = api.get_data(
    energy_tickers, 'Net Income', pt='ttm', offset_start=0, offset_end=0,
    as_of_date_start=start, as_of_date_end=end
)

df_sh_out= api.get_data(energy_tickers, 'Sh Out', start=start, end=end, Adj='y')

df_price = api.get_data(energy_tickers, 'Close', start=start, end=end, Adj='y')

In [11]:
df_net_income.head()

,Currency,Fiscal Year,Fiscal Period,Report Date,Publish Date,Restated Date,As of Date,Net Income
Ticker,,,,,,,,
NGL,USD,2017.0,Q2,2017-09-30,2017-11-07,2017-11-07,2017-12-31,-210012000.0
NGL,USD,2017.0,Q2,2017-09-30,2017-11-07,2017-11-07,2018-01-01,-210012000.0
NGL,USD,2017.0,Q2,2017-09-30,2017-11-07,2017-11-07,2018-01-02,-210012000.0
NGL,USD,2017.0,Q2,2017-09-30,2017-11-07,2017-11-07,2018-01-03,-210012000.0
NGL,USD,2017.0,Q2,2017-09-30,2017-11-07,2017-11-07,2018-01-04,-210012000.0

In [12]:
df_sh_out.head()

             Date  Shares Outstanding
Ticker
NGL    2017-12-31                 NaN
NGL    2018-01-01                 NaN
NGL    2018-01-02         120512692.0
NGL    2018-01-03         120512692.0
NGL    2018-01-04         120512692.0

In [13]:
df_price.head()

             Date  Close  PE
Ticker
NGL    2017-12-31    NaN NaN
NGL    2018-01-01    NaN NaN
NGL    2018-01-02   9.74 NaN
NGL    2018-01-03   9.94 NaN
NGL    2018-01-04  10.11 NaN

In [10]:
import numpy as np

eps = df_net_income['Net Income'] / df_sh_out['Shares Outstanding']

eps = eps.apply(lambda x: x if x > 0 else np.NaN)

df_price['PE'] = df_price['Close'] / eps

df_price.groupby('Ticker').mean().sort_values('PE')

             Close          PE
Ticker
NGL       8.472749    2.569105
NFX      26.133665   10.592304
XOM      67.124741   14.943799
FET     230.988845   20.079394
CLR      57.857809   20.191420
DVN      33.052869   23.713166
RRC      15.078446   28.928033
APC      61.277211   53.336111
KMI      14.402311  160.279342
EOG     106.999243  955.000319
DRQ      46.982869         NaN
WFT       2.633865         NaN

In [19]:
api.get_data?

Signature: api.get_data(tickers, field, **kwargs)
Docstring:
The function returns the data as dataframe
for a given list of tickers and a field name.
Only one field is allowed.
If field is not found, the exception will be raised.
File:      ~/work/Financial-Data-API/FinancialDataAPI.py
Type:      method

In [21]:
api.display_field_info('Close')

Close (Close)
  Parameters: start, end, adj
  start: Date, end: Date, adj: Str [y/n], fill_prev: Str [y/n]

In [24]:
start = date(2017, 12, 31)
end = date(2018, 12, 31)

df = api.get_data(['IBM', 'MSFT'], 'Close', start=start, end=end, adj='y', fill_prev='n')
df

             Date   Close
Ticker
IBM    2017-12-31     NaN
IBM    2018-01-01     NaN
IBM    2018-01-02  130.58
IBM    2018-01-03  134.17
IBM    2018-01-04  136.88
...           ...     ...
MSFT   2018-12-27   98.20
MSFT   2018-12-28   97.43
MSFT   2018-12-29     NaN
MSFT   2018-12-30     NaN
MSFT   2018-12-31   98.58

[732 rows x 2 columns]

In [7]:
api.display_field_info('Net Income')

Net Income (Net Income)
  Parameters: pt, offset_start, offset_end, y_start, y_end, q_start, q_end, as_of_date_start, as_of_date_end
  pt: str [q/a/ttm],  offset: int, y_start: int, y_end: int, q_start: int [1/2/3/4], q_end: int [1/2/3/4], as_of_date_start: Date, as_of_date_end: Date


Net Income (Common) (Net Income Common)
  Parameters: pt, offset_start, offset_end, y_start, y_end, q_start, q_end, as_of_date_start, as_of_date_end
  pt: str [q/a/ttm],  offset: int, y_start: int, y_end: int, q_start: int [1/2/3/4], q_end: int [1/2/3/4], as_of_date_start: Date, as_of_date_end: Date